/* Global */
* {margin:0;padding:0;}
.clr{clear:both}

.display_none{
  display:none;
}

/* main container */
div#main.container{
  margin-top:5px;
}

/* header Navbar */
header.navbar div.container nav.collapse ul.nav li.dropdown img{
  max-height:30px;
  width:auto;
  vertical-align:middle;
}

/* sidebar */
div.container div.row div#sidebar{
  margin-top: 25px;
  width: auto;
}

/* Actions for table */
table.table tbody tr th.actions{
  width:130px;
}
td.actions{
  text-align:center;
}
td.actions a{
  margin: 0 5px;
}
.check-center{
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}
.checkbox-input label{
	padding-left:5px;
	font-weight:normal;
}
.checkbox-input{
	padding: 6px 0px 1px 10px;
	background: #337ABD;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 2px;
}


/* Order table */
a.asc:before {
  content: "";
}
a.desc:before {
  content: "";
}
a.asc,
a.desc {
  font-family: 'Glyphicons Halflings';
}

div.form-group div.input{
  margin-top:15px;
}
.modal-body.alert-info{
	margin:20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.modal-body.alert-info ul{
	margin-left:15px;
}

/* .nav-justified */
.nav-justified > li:first-child > a {
    border-left: 0 none;
    border-radius: 5px 0 0 5px;
}
.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
    background-color: #DDDDDD;
    background-image: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;
}
.nav-justified > li > a {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #D5D5D5;
}
.nav-justified > li > a {
    background-color: #E5E5E5;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #E5E5E5 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #D5D5D5;
    color: #777777;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

/* form login */
.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
.form-signin .form-control {
  -moz-box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}
.form-signin div.input.password{
  margin-top:15px;
}



/** Paging **/
.paging {
  background:#fff;
  color: #ccc;
  margin-top: 1em;
  clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
  text-decoration: none;
  padding: 5px 8px;
  display: inline-block
}
.paging > span {
  display: inline-block;
  border: 1px solid #ccc;
  border-left: 0;
}
.paging > span:hover {
  background: #efefef;
}
.paging .prev {
  border-left: 1px solid #ccc;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.paging .next {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.paging .disabled {
  color: #ddd;
}
.paging .disabled:hover {
  background: transparent;
}
.paging .current {
  background: #efefef;
  color: #c73e14;
}

/* Rules list */
div#rules_list{
    float: right;
    margin-left: 20px;
    width: 70%;
}

/* Rules Form */
div.rules form div.form-group{
  border-right: 1px solid #CCCCCC;
  padding-right: 10px;
  width: 325px;
}
div.rules form div.form-group a.all_actions{
  left: 181px;
  position: relative;
  top: 35px;
}
div.rules form div.form-group div.input.checkbox.select_all{
  left: 70px;
  position: relative;
  top: 80px;
}



/* Reorder */
table.table tbody#sortable.ui-sortable tr td.reorder{
  text-align:center;
  cursor:all-scroll;
  width:60px;
}


/** Related **/
.related {
	clear: both;
}


/**  Footer  **/
footer {
	clear: both;
	padding: 6px 10px;
}


dl.tabela {
		margin: 2em 0;
		padding: 0;
		font-family: georgia, times, serif;
		}

	.tabela dd,
	.tabela dt {
		float: left;
		margin: 0 0 0 0;
		padding: .5em;
		border-bottom: 1px solid #999;
		font-weight: bold;
		}

	/* commented backslash hack for mac-ie5 \*/
	dt { clear: both; }
	/* end hack */

	.tabela dd {
		float: left;
		margin: 0 0 0 0;
		padding: .5em;
		border-bottom: 1px solid #999;
		}


/* Helper Tbs */
div.form-group div.input div.checkbox{
  margin-top:0;
  margin-bottom: 2px;
}